.table_calculate {
  border: 1px solid rgb(136, 136, 136);
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 14px;
}

.td_table1 {
  border-width: 0px 1px 1px 1px;
  border-top-style: initial;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: rgb(136, 136, 136);
  border-bottom-color: rgb(136, 136, 136);
  border-left-color: initial;
  border-image: initial;
  padding: 3px;
  min-width: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(255, 255, 153);
}

.td_table2 {
  border: 1px solid rgb(136, 136, 136);
  padding: 3px;
  min-width: 25px;
  text-align: center;
  vertical-align: middle;
}

.td_table3 {
  border-width: 1px 1px 0px 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: rgb(136, 136, 136);
  border-right-color: rgb(136, 136, 136);
  border-bottom-color: initial;
  border-left-color: initial;
  border-image: initial;
  padding: 3px;
  min-width: 25px;
  text-align: center;
  vertical-align: middle;
  background-color: rgb(204, 255, 204);
}
